// Styling for the Store
@import"../../styles/globals";

.shop{
  min-height: 100vh;
  height: auto;
  .shopSection{
  min-height: 120vh;
  column-count: 3;
  display: inline-block;
  }
}


.ProductCard{
display: inline-block;
width: 25vw;
margin: 5%;
border: 1px solid black;
cursor:pointer;
}
.ProductCard:hover{
  animation-timing-function: ease-in-out;
  animation: hover 500ms 1 forwards;
  -webkit-animation: hover 500ms 1 forwards;
}
@keyframes hover{
  0% {
  }
  100%{
  transform : scale(0.96)
  }

  }
.ProductMainImg{
	width:100%
}
.ProductCardBody{
  display:inline-block;
  width: 100%;

  .ProductTitle{
  color: black;
  font-size: 1.5em;
  margin: 2%;
  }
  .ProductPrice{
    margin:2%;
    font-size:1em;
  }
  .btn{
    float: right;
    margin: 2%;
  }


}


