// Styling for the Store
@import"../../styles/globals";

.shop{
  min-height: 100vh;
  height: auto;
  .shopSection{
  min-height: 120vh;
  column-count: 3;
  display: inline-block;
  }
}


.ProductCard{
display: inline-block;
width: 25vw;
margin: 5%;
border: 1px solid black;
}
.ProductCard:hover{
  animation-timing-function: ease-in-out;
  animation: hover 500ms 1 forwards;
  -webkit-animation: hover 500ms 1 forwards;
}
@keyframes hover{
  0% {
  }
  100%{
  transform : scale(0.9)
  }

  }
.ProductMainImg{
	width:100%
}
.ProductCardBody{
  display:inline-block;
}

.ProductTitle{
  color: black;
  font-size: 1.5em;
}


