body {
  overflow-x: hidden;
  margin: 0px;
  padding: 0px; }

p {
  line-height: 1.75; }

a {
  color: #0c7696; }
  a:hover {
    color: #085167; }

.text-primary {
  color: #0c7696 !important; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700; }

section {
  padding: 100px 0; }
  section h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px; }
  section h3.section-subheading {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 75px;
    text-transform: none; }

@media (min-width: 768px) {
  section {
    padding: 150px 0; } }

.btn {
  font-weight: 700; }

.btn-xl {
  font-size: 18px;
  padding: 20px 40px; }

.btn-primary {
  background-color: #0c7696;
  border-color: #0c7696; }
  .btn-primary:active, .btn-primary:focus, .btn-primary:hover {
    background-color: #095a73 !important;
    border-color: #095a73 !important;
    color: white; }
  .btn-primary:active, .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important; }

::-moz-selection {
  background: #0c7696;
  text-shadow: none; }

::selection {
  background: #0c7696;
  text-shadow: none; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

.mainDiv {
  width: auto;
  display: flex; }
  .mainDiv .HomePiece {
    padding: -2%;
    margin-right: 2%;
    padding-left: 6%;
    padding-right: 12%;
    height: 55%; }
  .mainDiv .HomeArtWork {
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 3px 3px 5px 6px #ccc;
    /* Firefox 3.5 - 3.6 */
    box-shadow: 3px 3px 5px 6px #ccc; }
    .mainDiv .HomeArtWork .cover {
      height: 100vh;
      min-width: 30vw;
      background-color: black;
      z-index: 1;
      opacity: 0; }
    .mainDiv .HomeArtWork .HomeArtWorkImg {
      max-height: 70vh; }
    .mainDiv .HomeArtWork .HomeArtWorkImg:hover {
      filter: brightness(30%); }
  .mainDiv .artTitle {
    color: white;
    position: absolute;
    opacity: 0;
    z-index: 1; }
  .mainDiv .hovered {
    animation-timing-function: ease-in-out;
    animation: activeRight 5000ms 1 forwards;
    -webkit-animation: showTitle 1000ms 1 forwards; }

@keyframes showTitle {
  0% {
    transform: translateY(100%);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }
  .mainDiv .Left {
    width: 7em;
    position: absolute;
    z-index: 1;
    left: 2%;
    top: 50%;
    opacity: 0.2; }
  .mainDiv .Left:hover {
    opacity: 0.7; }
  .mainDiv .Right {
    width: 7em;
    position: absolute;
    z-index: 1;
    right: -41%;
    margin-right: -8%;
    top: 50%;
    opacity: 0.2; }
  .mainDiv .Right:hover {
    opacity: 0.9; }
  .mainDiv .slider {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-right: 3%; }
  .mainDiv .ActiveRight {
    animation-timing-function: ease-in-out;
    animation: activeRight 5000ms 1 forwards;
    -webkit-animation: activeRight 5000ms 1 forwards; }

@keyframes activeRight {
  0% {
    left: 0%; }
  100% {
    left: -79%; } }
  .mainDiv .ActiveLeft {
    animation-timing-function: ease-in-out;
    animation: activeLeft 5000ms 1 forwards;
    -webkit-animation: activeLeft 5000ms 1 forwards; }

@keyframes activeLeft {
  0% {
    left: 0%; }
  100% {
    left: 79%; } }

@Media only screen and (max-width : 1050px) {
  .HomePiece {
    margin-top: 10vh;
    padding: 2%;
    margin-right: 2%;
    padding-right: 15%;
    height: 55%; }
  .HomeArtWork {
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 3px 3px 5px 6px #ccc;
    /* Firefox 3.5 - 3.6 */
    box-shadow: 3px 3px 5px 6px #ccc; }
  .HomeArtWorkImg {
    height: 50vh;
    max-width: 50vh;
    max-height: 200px; }
  .artTitle {
    color: black;
    position: relative;
    opacity: 1;
    z-index: 1; }
  .hovered {
    color: black;
    animation-timing-function: ease-in-out;
    animation: activeRight 5000ms 1 forwards;
    -webkit-animation: showTitle 1000ms 1 forwards; }
  @keyframes showTitle {
    0% {
      opacity: 0; }
    100% {
      transform: translateY(0);
      opacity: 1; } } }
