 @import"../../styles/globals";

 //SCSS for the image view ---------------------------------->

.popUp{
  position:fixed;
  top:-20vh;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  opacity: 1;
 
    .cover{
      width: 100vw;
      height: 100vh;
      position: fixed;
      top:0;
      left: 0;
      z-index: 0;
      background: black;
      opacity: 0.7;
      cursor: pointer;
    }

}

  .viewSection{
    position:fixed;
    border: 3px solid black;
    border-radius: 5px;
    margin:0 auto;
    margin-left: 10%;
    width: 70vw;
    height: 90vh;
    background-color: white;
    z-index: 4;
   

    .ArtWorkImg{
      max-width: 65%;
      display: block;
      height: 90%;
      width: auto;
      margin: 2%;
    }
    .PieceContent{
      position: absolute;
      top:0;
      left: 65%;
      width: 35%;
      height: 100%;
      border: 1px solid black;

     .pieceTitle{
      position: absolute;
      top:0;
      color:black;
      margin-left: 10%;
      }
      .blurb{
      position: absolute;
      top: 25%;
      font-size: 1.2em;
      margin: 10%;


      }
     
      button{
      position: absolute;
      bottom: 20%;
      margin: 0 auto;
      margin-left: 15%;
      width: 70%;
      font-size:2em;
      color: white;
      height: 10%;
      background-color: white; 
      border: 10px solid  black;


      .none{
         color: white;
         text-decoration: none;
      }
      }
      button:hover{
      background: linear-gradient($buyRed 80%, red);
      border: 1px solid black;
      color: $gray-200;
      }
      .exit{
      top: -2%;
      right: -2%;
      border-radius: 50%;
      width: 1.5em;
      height: 1.5em;

      }
    }
  }


/// Animations for the modal opening up --------------------------------->


  .start{
  animation-timing-function: ease-in-out;
  animation: openModal 400ms 1 forwards;
  -webkit-animation: openModal 400ms 1 forwards;
  }

  @keyframes openModal{
  0% {
  opacity: 0;
  }
  100%{
  opacity : 1;
  }

}

// Responsive Design ------------------------------------------------------>

@Media only screen and (max-width: 1024px) {


  .popUp{
  position:fixed;
  top:0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
 
    .cover{
      width: 100%;
      height: 100%;
      position: absolute;
      top:0;
      left: 0;
      z-index: 0;
      background: black;
      opacity: 0.7;
      cursor: pointer;
    }



  .viewSection{
    position:fixed;
    border: 3px solid black;
    border-radius: 5px;
    margin:0 auto;
    margin-left: 5%;
    margin-top: 10%;
    width: 90vw;
    height: 90vh;
    background-color: white;
    z-index: 4;
   

    .ArtWorkImg{
      
      max-height: 50%;
      max-width: 100%;
      margin: 0%;
      display: flex;

    }
    .PieceContent{
      position: absolute;
      top: 50%;
      width: 100%;
      left: 0%;
      height: 40%;
     

     .pieceTitle{
      position: absolute;
      top:0;
      color:black;
      margin-left: 10%;
      }
      .blurb{
      position: absolute;
      top: 15%;
      font-size: 1.2em;
      margin: 10%;


      }
     
      button{
      position: absolute;
      height: 15%;
      }
      .exit{
      display: none;

      }
    }
  }

}

  }