body {
  overflow-x: hidden;
  margin: 0px;
  padding: 0px; }

p {
  line-height: 1.75; }

a {
  color: #0c7696; }
  a:hover {
    color: #085167; }

.text-primary {
  color: #0c7696 !important; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700; }

section {
  padding: 100px 0; }
  section h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px; }
  section h3.section-subheading {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 75px;
    text-transform: none; }

@media (min-width: 768px) {
  section {
    padding: 150px 0; } }

.btn {
  font-weight: 700; }

.btn-xl {
  font-size: 18px;
  padding: 20px 40px; }

.btn-primary {
  background-color: #0c7696;
  border-color: #0c7696; }
  .btn-primary:active, .btn-primary:focus, .btn-primary:hover {
    background-color: #095a73 !important;
    border-color: #095a73 !important;
    color: white; }
  .btn-primary:active, .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important; }

::-moz-selection {
  background: #0c7696;
  text-shadow: none; }

::selection {
  background: #0c7696;
  text-shadow: none; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

.popUp {
  position: fixed;
  top: -20vh;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  opacity: 1; }
  .popUp .cover {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    background: black;
    opacity: 0.7;
    cursor: pointer; }

.viewSection {
  position: fixed;
  border: 3px solid black;
  border-radius: 5px;
  margin: 0 auto;
  margin-left: 10%;
  width: 70vw;
  height: 90vh;
  background-color: white;
  z-index: 4; }
  .viewSection .ArtWorkImg {
    max-width: 65%;
    display: block;
    height: 90%;
    width: auto;
    margin: 2%; }
  .viewSection .PieceContent {
    position: absolute;
    top: 0;
    left: 65%;
    width: 35%;
    height: 100%;
    border: 1px solid black; }
    .viewSection .PieceContent .pieceTitle {
      position: absolute;
      top: 0;
      color: black;
      margin-left: 10%; }
    .viewSection .PieceContent .blurb {
      position: absolute;
      top: 25%;
      font-size: 1.2em;
      margin: 10%; }
    .viewSection .PieceContent button {
      position: absolute;
      bottom: 20%;
      margin: 0 auto;
      margin-left: 15%;
      width: 70%;
      font-size: 2em;
      color: white;
      height: 10%;
      background-color: white;
      border: 10px solid  black; }
      .viewSection .PieceContent button .none {
        color: white;
        text-decoration: none; }
    .viewSection .PieceContent button:hover {
      background: linear-gradient(#a80000 80%, red);
      border: 1px solid black;
      color: #e9ecef; }
    .viewSection .PieceContent .exit {
      top: -2%;
      right: -2%;
      border-radius: 50%;
      width: 1.5em;
      height: 1.5em; }

.start {
  animation-timing-function: ease-in-out;
  animation: openModal 400ms 1 forwards;
  -webkit-animation: openModal 400ms 1 forwards; }

@keyframes openModal {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@Media only screen and (max-width: 1024px) {
  .popUp {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 1; }
    .popUp .cover {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      background: black;
      opacity: 0.7;
      cursor: pointer; }
    .popUp .viewSection {
      position: fixed;
      border: 3px solid black;
      border-radius: 5px;
      margin: 0 auto;
      margin-left: 5%;
      margin-top: 10%;
      width: 90vw;
      height: 90vh;
      background-color: white;
      z-index: 4; }
      .popUp .viewSection .ArtWorkImg {
        max-height: 50%;
        max-width: 100%;
        margin: 0%;
        display: flex; }
      .popUp .viewSection .PieceContent {
        position: absolute;
        top: 50%;
        width: 100%;
        left: 0%;
        height: 40%; }
        .popUp .viewSection .PieceContent .pieceTitle {
          position: absolute;
          top: 0;
          color: black;
          margin-left: 10%; }
        .popUp .viewSection .PieceContent .blurb {
          position: absolute;
          top: 15%;
          font-size: 1.2em;
          margin: 10%; }
        .popUp .viewSection .PieceContent button {
          position: absolute;
          height: 15%; }
        .popUp .viewSection .PieceContent .exit {
          display: none; } }
