@import "../../../styles/globals";


.wrapper{
	.HeroImg{
	width: 120%;
	margin-left: -10%;
	animation-timing-function: linear;
	-webkit-animation: in 500ms infinite;
    animation: in 500ms infinite;
	}
	
	@keyframes in{
	0% {
	transform: opacity(0);
	}
	100%{
	transform: opacity(0.8);
	}
	}



}
